In [3]:
x=0

while x<5:
    print(f'The current value of x is {x}')
    x=x+1
else:
    print("X is not less than 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than 5

In [4]:
x=50

while x<5:
    print(f'The current value of x is {x}')
    x=x+1
else:
    print("X is not less than 5")

X is not less than 5

In [6]:
x = [1,2,3]

for item in x:
    pass # can be used a place holder

print('end of my script')

end of my script

In [7]:
mystring = 'sammy'

In [9]:
for letter in mystring:
    if letter == 'a':
         continue
    print(letter)

s
m
m
y

In [10]:
for letter in mystring:
    if letter == 'a':
         break
    print(letter)

s

In [12]:
x=0

while x<5:
    
    if x==2:
        break
    print(x)
    x+=1

0
1

In [13]:
mylist = [1,2,3]

In [14]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [15]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [16]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [17]:
range(0,11,2)

range(0, 11, 2)

In [18]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [19]:
index_count = 0
 
for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count+=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [20]:
index_count = 0
word = 'abcde'
 
for letter in word:
    print(word[index_count])
    index_count+=1

a
b
c
d
e

In [21]:

word = 'abcde'
 
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [22]:
#using tuple unpacking with enumeration


word = 'abcde'
 
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [25]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

In [26]:
zip(mylist1,mylist2)

In [28]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [29]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [30]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [34]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [35]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [36]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [37]:
'x' in ['x','y','z']

True

In [38]:
'mykey' in {'mykey':345}

True

In [39]:
'm' in ['x','y','z']

False

In [41]:
d = {'mykey':345}

345 in d.values()

True

In [43]:
d = {'mykey':345}

345 in d.keys()

False

In [44]:
mylist = [10,20,30,40,100]

In [45]:
min(mylist)

10

In [46]:
max(mylist)

100

In [47]:
from random import shuffle

In [48]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [50]:
shuffle(mylist)
mylist

[7, 5, 2, 4, 3, 6, 8, 1, 9, 10]

In [53]:
from random import randint

mynum = randint(0,100)
mynum

34

In [54]:
input('Enter a number here: ')

Enter a number here: 50

'50'

In [57]:
result = input('Favorite number: ')

Favorite number: 6

In [58]:
result

'6'

In [59]:
type(result)

str

In [62]:
float(result)

6.0

In [63]:
type(result)

str

In [64]:
int(result)

6

In [65]:
type(result)

str

In [66]:
new_result = int(input('Favorite number: ') )

Favorite number: 6

In [67]:
type(new_result)

int

# List comprehensions

In [75]:
mystring = 'hello'

In [71]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [72]:
mylist

['h', 'e', 'l', 'l', 'o']

In [77]:
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [78]:
mylist = [letter for letter in 'word']
mylist

['w', 'o', 'r', 'd']

In [79]:
mylist = [qweqwe for qweqwe in 'miss']
mylist

['m', 'i', 's', 's']

In [81]:
mylist = [num for num in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [82]:
mylist = [num**2 for num in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [83]:
mylist = [x for x in range(0,11) if x%2==0]
mylist

[0, 2, 4, 6, 8, 10]

In [84]:
mylist = [x**2 for x in range(0,11) if x%2==0]
mylist

[0, 4, 16, 36, 64, 100]

In [85]:
celcius = [0,10,20,24.5]

fahrenheit = [( (9/5)*temp + 32) for temp in celcius]

In [86]:
fahrenheit

[32.0, 50.0, 68.0, 76.1]

In [89]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append( (9/5)*temp + 32)
fahrenheit

[32.0, 50.0, 68.0, 76.1]

In [91]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

# Nested loops

In [92]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [93]:
# using list comprehension for nested loops where we compromise redability of code
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]