In [1]:
mylist = [1,2,3]

In [2]:
mylist.append(4)

In [3]:
mylist

[1, 2, 3, 4]

In [4]:
mylist.pop()

4

In [5]:
mylist

[1, 2, 3]

In [6]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

# Functions

In [10]:
def say_hello():
    print("hello")
    print('hwru')

In [11]:
say_hello()

hello
hwru

In [12]:
def say_hello(name):
    print(f'Hello {name}')

In [13]:
say_hello('Jose')

Hello Jose

In [14]:
def say_hello(name='Default'):
    print(f'Hello {name}')

In [15]:
say_hello()

Hello Default

In [16]:
say_hello('Jose')

Hello Jose

In [17]:
def add_num(num1,num2):
    return num1+num2
result = add_num(10,20)
result

30

In [18]:
def print_result(a,b):
    print(a+b)

In [24]:
def return_result(a,b):
    return a+b

In [20]:
print_result(10,20)

30

In [27]:
return_result(30,40)

70

In [28]:
result = return_result(30,40)
result

70

In [29]:
def myfunc(a,b):
    print(a+b)
    return a+b

In [30]:
result = myfunc(10,20)

30

In [31]:
result

30

In [32]:
def sum_numbers(num1,num2):
    return num1+num2

In [33]:
sum_numbers(10,20)

30

In [34]:
sum_numbers('10','20')

'1020'

In [35]:
 2%2

0

In [36]:
3%2

1

In [37]:
41%40

1

# Section6 : 45) Logics using Python Functions

In [38]:
def even_check(number):
    result = number%2==0
    return result

In [39]:
even_check(20)

True

In [40]:
def even_check(number):
    return number%2==0
even_check(20)

True

In [50]:
# Return True if any number is even inside the list

def check_even_list(num_list):
    for number in num_list:
        if number%2==0:
            return True
        else:
            pass
    return False

In [51]:
check_even_list([1,3,5])

False

In [49]:
check_even_list([2,4,5])

True

In [52]:


def check_even_list(num_list):
    # Return all the even numbers in the list
    
    #placeholder variables
    even_numbers = []
    for number in num_list:
        if number%2==0:
            even_numbers.append(number)
        else:
            pass
    return even_numbers

In [53]:
check_even_list([1,2,3,4,5])

[2, 4]

In [54]:
check_even_list([1,3,5])

[]

# 46)Tuple unpacking with Python Functions

In [55]:
stock_prices = [('APPL',200),('GOOG',400),('MSFT',100)]

In [56]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [57]:
for ticker,price in stock_prices:
    print(ticker)

APPL
GOOG
MSFT

In [58]:
for ticker,price in stock_prices:
    print(price+(0.1*price))

220.0
440.0
110.0

In [62]:
work_hours = [('Abby',100),('Billy',4000),('Cassie',800)]

In [60]:
def employee_check(work_hours):
    current_max =0
    employee_of_month= ''
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    #Return
    return(employee_of_month,current_max)

In [63]:
employee_check(work_hours)

('Billy', 4000)

In [65]:
result = employee_check(work_hours)
result

('Billy', 4000)

In [69]:
name,hours = employee_check(work_hours)
name,hours

('Billy', 4000)

In [70]:
name

'Billy'

In [71]:
hours

4000

In [72]:
name,hours,location = employee_check(work_hours)

ValueError: not enough values to unpack (expected 3, got 2)

# 47) Interactions between Python functions

In [73]:
example =[1,2,3,4,5,6,7]

In [82]:
from random import shuffle

In [75]:
shuffle(example)

In [78]:
example

[5, 3, 2, 7, 1, 6, 4]

In [83]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [84]:
result = shuffle_list(example)

In [85]:
result

[4, 3, 7, 1, 2, 6, 5]

In [87]:
mylist = ['','O','']

In [88]:
shuffle_list(mylist)

['O', '', '']

In [89]:
def player_guess():
    guess=''
    while guess not in ['0','1','2']:
         guess=input("Pick a number: 0,1, or 2")
            
    return int(guess)

In [90]:
player_guess()

Pick a number: 0,1, or 28
Pick a number: 0,1, or 21

1

In [92]:
def check_guess(mylist,guess):
    if mylist[guess] =='O':
        print("Correct!")
    else:
        print("Wrong guess!")
        print(mylist)

In [96]:
# INITIAL LIST
mylist = ['','O','']

#Shuffle list
mixedup_list = shuffle_list(mylist)


#user guess
guess = player_guess()

# check guess
check_guess(mixedup_list,guess)

Pick a number: 0,1, or 21
Wrong guess!
['', '', 'O']

#  *args and **kwargs in python

In [97]:
def myfunc(a,b):
    #Returns 5% of the sum of a and b
    return sum((a,b)) * 0.05

In [98]:
myfunc(40,60)

5.0

In [103]:
# declare few variables with 0 which may be passed or not
def myfunc(a,b,c=0,d=0):
    #Returns 5% of the sum of a and b
    return sum((a,b,c,d)) * 0.05

In [104]:
myfunc(40,60,100,110)

15.5

In [105]:
myfunc(40,60,100,110,240)

TypeError: myfunc() takes from 2 to 4 positional arguments but 5 were given

In [108]:
def myfunc(*args):
    print(args)
    return sum(args) * 0.05

In [109]:
myfunc(40,60,100)

(40, 60, 100)

10.0

In [110]:
def myfunc(*anything):
    print(anything)
    return sum(anything) * 0.05

In [111]:
myfunc(40,60,100)

(40, 60, 100)

10.0

In [120]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit'and'sport' in kwargs:
        print('My fruit of choice is {} and i like {}'.format(kwargs['fruit'],kwargs['sport']))
    else:
        print('I did not find any fruit here')

In [122]:
myfunc(fruit='apple',sport='cricket')

{'fruit': 'apple', 'sport': 'cricket'}
My fruit of choice is apple and i like cricket

In [124]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('I would like {}{}'.format(args[0],kwargs['food']))

In [125]:
myfunc(10,20,30,fruit='orange',food='eggs',animal='dog')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10eggs

# 55) Lambda Expressions,map and filter functions

In [126]:
def square(num):
    return num**2

In [127]:
my_nums = [1,2,3,4,5]

In [128]:
map(square,my_nums)

In [129]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [130]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [131]:
def splicer(mystring):
    if len(mystring)%2==0:
        return 'EVEN'
    else:
        return mystring[0]

In [132]:
names = ['Andy','Eve','Sally']

In [133]:
list(map(splicer,names))

['EVEN', 'E', 'S']

In [134]:
def check_even(num):
    return num%2==0
mynums = [1,2,3,4,5,6]

In [135]:
filter(check_even,mynums)

In [136]:
list(filter(check_even,mynums))

[2, 4, 6]

In [137]:
for n in filter(check_even,mynums):
    print(n)

2
4
6

# lambda expression

In [138]:
def square(num):
    result = num ** 2
    return result

In [139]:
square(3)

9

In [141]:
def square(num):
     return num ** 2

In [ ]:
square = lambda num: num ** 2

In [143]:
square(5)

25

In [146]:
list(map(lambda num: num ** 2,mynums))

[1, 4, 9, 16, 25, 36]

In [147]:
list(filter(lambda num:num%2==0,mynums))

[2, 4, 6]

In [148]:
names

['Andy', 'Eve', 'Sally']

In [149]:
list(map(lambda x:x[0],names))

['A', 'E', 'S']

In [150]:
list(map(lambda x:x[::-1],names))

['ydnA', 'evE', 'yllaS']

# Nested Statements and Scope

In [152]:
x = 25

def printer():
    x = 50
    return x

In [153]:
print(x)

25

In [154]:
print(printer())

50

In [161]:
#LEGB rule , L- Local E- Enclosing Function local, G - golbal , B-builtin
## Local to lambda expn

lambda num:num**2

In [164]:
## enclosing function local
name = 'THIS IS A GLOBAL STRING'

def greet():
    
    name = 'Sammy'
    
    def hello():
        print('hello '+ name)
        
    hello()

greet()

hello Sammy

In [166]:
## global scope explained
name = 'THIS IS A GLOBAL STRING' ## GLOBAL

def greet():
    
   # name = 'Sammy' # ENCLOSING 
    
    def hello():
        print('hello '+ name)
        
    hello()

greet()

hello THIS IS A GLOBAL STRING

In [167]:
## local scope explained
name = 'THIS IS A GLOBAL STRING' ## GLOBAL

def greet():
    
   # name = 'Sammy' # ENCLOSING 
    
    def hello():
        #LOCAL
        name = 'Im a local'
        print('hello '+ name)
        
    hello()

greet()

hello Im a local

In [168]:
len

In [175]:
x= 50

def func(x):
    print(f'X is {x}')
    
    # LOCAL REASSIGNMENT!
    x=200
    print(f'I JUST LOCALLY CHANGED X TO {x}')

In [176]:
func(x)

X is 50
I JUST LOCALLY CHANGED X TO 200

In [171]:
print(x)

50

In [181]:
x= 50

def func():
    global x # any changes here onwards will be reflectd to gloal variable
    print(f'X is {x}')
    
    # LOCAL REASSIGNMENT ON A GLOBAL VARIABLE!
    x='NEW VALUE'
    print(f'I JUST LOCALLY CHANGED X TO {x}')

In [182]:
print(x)

50

In [183]:
func()

X is 50
I JUST LOCALLY CHANGED X TO NEW VALUE

In [184]:
print(x)

NEW VALUE

In [187]:
# in order to avoid global as a beginner , we can use x as argument
# inside the func name, then overwrite and return using return keyword
x= 50

def func(x):
   
    print(f'X is {x}')
    
    # LOCAL REASSIGNMENT ON A GLOBAL VARIABLE!
    x='NEW VALUE'
    print(f'I JUST LOCALLY CHANGED X TO {x}')
    return x

In [188]:
print(x)

50

In [192]:
x= func(x)

X is NEW VALUE
I JUST LOCALLY CHANGED X TO NEW VALUE

In [193]:
print(x)

NEW VALUE